.ccHelper-wrapper {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

/*
 * Full selector is provided to deal with
 * specificity issues
 */
input[type="text"].ccHelper-input {
    display: block;
    width: 100%;
    padding: 0 12px;
    margin: 0;
    height: 46px;
    line-height: 46px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    border: 3px solid transparent;
    box-sizing: border-box;
    background: white;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"].ccHelper-input:focus {
    border-color: #f7ac03;
}

input[type="text"].ccHelper-input::placeholder {
    color: #666;
}

.ccHelper-label {
    display: none;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 0;
    bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 46px;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    font-weight: normal;
}

.ccHelper-input:not(:focus):placeholder-shown::placeholder {
    color: transparent;
}

.ccHelper-input:not(:focus):placeholder-shown ~ .ccHelper-label  {
    display: block;
}

.ccHelper-messages {
    position: fixed;
    z-index: 99;
    width: 300px;
    top: 20px;
    right: 20px;
}

.ccHelper-messagesItem {
    margin-bottom: 10px;
    padding: 12px;
    background: white;
    border-radius: 3px;
    border: 3px solid #ddd;
    font-size: 15px;
    overflow: hidden;
}

.ccHelper-autocomplete {
    display: none;
    position: absolute;
    top: 100%;
    border: 3px solid #979797;
    background: white;
    border-radius: 3px;
}

.ccHelper-autocompleteSuggestions {
     position: absolute;
     display: none;
     z-index: 9999;
     max-height: 254px;
     overflow: hidden;
     overflow-y: auto;
     margin-top: -46px;
     transform: translateY(-100%);
     text-align: left;
     cursor: default;
     border: 1px solid #ccc;
     border-top: 0;
     background: white;
     box-sizing: border-box;
     border-radius: 3px;
}
 .ccHelper-autocompleteSuggestion {
     padding: 10px 16px;
     line-height: 23px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 16px;
     color: #333;
}
/* matched part of a word */
 .ccHelper-autocompleteSuggestion b {
    font-weight: inherit;
}
 .ccHelper-autocompleteSuggestion--selected {
    background: #ffdd90;
    box-shadow: inset 0 -2px 0 0 #ffdd90;
}

