input.ccHelper-input {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 0 12px;
    line-height: 42px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    border: 3px solid transparent;
    box-sizing: border-box;
}

input.ccHelper-input:focus {
    border-color: #f7ac03;
}

.ccHelper-messages {
    position: fixed;
    width: 200px;
    top: 20px;
    right: 20px;
}

.ccHelper-messagesItem {
    margin-bottom: 10px;
    padding: 10px;
    background: #eee;
    border-radius: 4px;
}
