body {
    font: 16px/1.2 "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #00AEEF;
}

li {
    margin: 1em 0;
}

.container {
    padding: 40px 20px;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.install {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 720px) {
    .install {
        display: flex;
        flex-wrap: wrap;
        -webkit-justify-content: center;
                justify-content: center;
    }
}

.install-item {
    max-width: 300px;
    margin: 20px auto;
}

@media (min-width: 720px) {
    .install-item {
        margin: 10px;
        flex: 1 0 50%;
    }
}

.install-button {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: #00AEEF;
    box-shadow: 0 6px 0 0 #0076A2;
    border-radius: 12px;
    text-decoration: none !important;
    text-align: left;
}

.install-button:not([disabled]):hover {
    background: #35c1f5;
}

.install-button:note([disabled]):active {
    background: #0076A2;
}

.install-button[disabled] {
    background: #bbb;
    box-shadow: 0 6px 0 0 #a1a1a1;
    cursor: not-allowed;
}

.install-button[disabled] img {
    filter: grayscale(100%);
}

.install-buttonLogo {
    width: 36px;
    vertical-align: middle;
    margin-right: 5px;
}

.logo {
    width: 64px;
}

.intro {
    font-size: 18px;
    margin: 32px 0;
    color: #777;
}

.contentImage {
    border: 2px solid #ccc;
    border-radius: 3px;
    max-width: 100%;
}

.footerLink {
    color: #777;
    font-size: 14px;
    margin: 0 15px;
}

.u-secondary {
    background: #f4f4f4;
}

.u-left {
    text-align: left;
}
